replicaCount: 3

image:
  repository: node
  pullPolicy: IfNotPresent
  tag: latest

service:
  type: LoadBalancer
  port: 3000

ingress:
  enabled: false

resources: {}

autoscaling:
  enabled: false

nodeSelector: {}

tolerations: []

affinity: {}