apiVersion: apps/v1
kind: Deployment
metadata:
  name: s3-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: s3-app
  template: 
    metadata:
      labels:
        app: s3-app
    spec:
      serviceAccountName: s3-access-sa
      containers:
      - name: 2048-container
        image: amazon/aws-cli:latest
        command: ["/bin/sh"]
        args: ["-c", "while true; do sleep 30; done"]